<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="ZeroOnline.exe.le.config" Guid="003f7c87-c710-4ff4-a0f0-f1ba9b4f51be" MainMenu="false">
      <Parameter>zerodios..</Parameter>
      <Location>zh-Hans</Location>
      <Timezone>Tokyo Standard Time</Timezone>
      <RunAsAdmin>false</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>false</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>